* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #000000;
}

h1 {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

.message {
  color: rgb(255, 255, 255);
  height: 80vh;
  margin-top: 20px;
  font-size: xx-large;
  flex-direction: column;

  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Center content horizontally */
  text-align: center; /* Center align the content */
  gap: 10vh;
}

.message div {
  display: block;
}

#message p {
  color: white;
  margin-bottom: 10px;
}

#message img {
  max-width: 40px;
  /* height: auto;  */
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.outer {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 40vh;
  width: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5vh;
}

.box {
  background-color: rgb(255, 255, 255);
  height: 10vh;
  width: 10vh;
  border-radius: 0.8rem;
  border: 3px solid rgb(255, 213, 0);
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset {
  font-size: 1.3rem;
  border-radius: 1rem;
  padding: 10px;
  background-color: rgba(247, 247, 247, 0.945);
  color: rgb(0, 0, 0);
  border: none;
}

.newGame {
  color: white;
  font-size: 1.8rem;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
